#### Name        : Kyle Ponte
#### Date        : 9/11/25
#### Description : Week 1&2 Homework
#### Pledge      : I pledge my honor that I have abided by the Stevens Honor System

### Python Core Object Types.

In [1]:

def number():
    """
    This is to review numbers and basic operations.
    """
    # Write the value 4 to the power of 5 and assign it to variable x.
    x = pow(4, 5)
    
    # Write the value x divided by 3 and assign it to variable y.
    y = x / 3

    # Print x, y
    print(x, y)

    # Return x and y
    return x, y
    
# Call the function
number()

1024 341.3333333333333

(1024, 341.3333333333333)

In [3]:
def strings():
    """
    This is to review numbers and strings and basic operations.
    """
    # Assign the string "Stevens" to a variable stevens.
    stevens = 'Stevens'

    # Iterate stevens and print each item
    for c in stevens:
        print(c)
    
    # Repeat variable stevens 7 times and assign it to variable stevens_7.
    stevens_7 = stevens * 7
    
    # Determine the length of stevens_7
    length = len(stevens_7)

    # Concatenate variable stevens with string " is great" and assign it to variable great.
    great = stevens + ' is great'

    # Replace "great" with "good" in variable great and assign it to a new variable good.
    good = great[:11] + 'good'

    # Using the f-string to print variabel good with the message of "Variable good:" 
    print(f'Variable good: {good}')

    # Return stevens, stevens_7, length, great, and good
    return stevens, stevens_7, length, great, good
    
# Call the function    
strings()

S
t
e
v
e
n
s
Variable good: Stevens is good

('Stevens',
 'StevensStevensStevensStevensStevensStevensStevens',
 49,
 'Stevens is great',
 'Stevens is good')

In [6]:
def list_1D():
    """
    This is to review basic operations with lists.
    """
    s = " hoboken,is,awesome,i,like,it "
    # Using list slicing, remove the whitespace characters on both side and assign it to a new variable hoboken.
    hoboken = s.strip()

    # Split variable hoboken on a delimiter (comma) into a list of substrings and assign it to a new variable hoboken_list.
    hoboken_list = hoboken.split(',')

    # Get the first item in the hoboken_list and assign it to a new variable hoboken_first_item.
    hoboken_first_item = hoboken_list[0]

    l = [2, 3, 4, 1, 5, 6, 9, 10, 15, 12, 13, -2, -6, 0, 0]

    # Inplace sort list l (use .sort()).
    l.sort()

    # Get the 4th to 10th item in sorted list l and assign them to a new list new_l.
    new_l = [l[3], l[9]]

    # Use list comprehension to remove all the odd numbers in l and assign the new list to c_l
    c_l = [n for n in l if n % 2 == 0]

    # Print new_l and c_l
    print(new_l, c_l)
    
# Call the function    
list_1D()

[0, 6] [-6, -2, 0, 0, 2, 4, 6, 10, 12]

In [7]:
def list_2D():
    """
    This is to review operations with 2D lists.
    """
    # Create a 3 x 3 matrix A as a nested list such that
    #   first row is [1, 4, 5]
    #   second row is [6, 10, 11]
    #   third row is [12, 17, 38]
    A = [[1, 4, 5],
         [6, 10, 11],
         [12, 17, 38]]

    # Collect the items in the last column of matrix A using list comprehension and assign it to a new variable last_column.
    last_column = [row[2] for row in A]

    # Using indexing, get the item at the last row and last column of A and assign this item to a new variable a.
    a = A[2][2]

    # Using indexing, get the item at row 2 and column 1 of A and assign this item to a new variable b.
    b = A[2][0]

    # Print last_column, a, and b
    print(last_column, a, b)
    
# Call the function
list_2D()

[5, 11, 38] 38 12

In [9]:
def dictionary():
    """
    This is to review basic operations with dictionaries.
    """
    # Create a dictionary named fruit_dict that maps:
    #   "fruit" => "apple"
    #   "quantity" => 18
    #   "color" => "red"
    fruit_dict = {
        'fruit': 'apple', 
        'quantity': 18, 
        'color': 'red'
        }
    
    # Get the item in dictionary fruit_dict that the key "fruit" maps to. Assign this item to the variable f.
    f = fruit_dict['fruit']

    # Increase the value that key "quantity" maps to by 1.
    fruit_dict['quantity'] += 1

    # Return fruit_dict and f
    return fruit_dict, f
    
# Call the function    
dictionary()

({'fruit': 'apple', 'quantity': 19, 'color': 'red'}, 'apple')

In [ ]:
def dictionary_nested():
    """
    This is to review nested dictionaries.
    """
    # Create a nested dictionary Grace where:
    #   "name" => {"first_name" => "Grace", "last_name" => "Hopper"} (a dictionary)
    #   "jobs" => ["scientist", "engineer"] (a list)
    #   "age" => 85
    Grace = {
        'name': {
            'first_name': 'Grace',
            'last_name': 'Hopper'
        },
        'jobs': ['scientist', 'engineer'],
        'age': 85
    }
    
    # Get the value of key "last_name" from the subdictionary of key "name" in dictionary Grace.
    Grace['name']['last_name']

    # Add "programmer" to the list that key "jobs" maps to.
    Grace['jobs'].append('programmer')

    # Get the third item in the list that key "job" maps to. (This is the item you recently added).
    job = Grace.get('jobs')[-1]

    # Return Grace, last_name, and job
    return Grace, Grace['name']['last_name'], job
    
# Call the function    
dictionary_nested()

({'name': {'first_name': 'Grace', 'last_name': 'Hopper'},
  'jobs': ['scientist', 'engineer', 'programmer'],
  'age': 85},
 'Hopper',
 'programmer')

In [17]:
def my_tuple():
    """
    This is to review basic operations with tuples.
    """
 
    t = (1, 2, 5, 8, 2)

    # calculate the sum of all items, and name the result as my_sum
    my_sum = sum(t)

    # Iterate all elements and print each item
    for e in t:
        print(e)

    # Use tuple comprehension to generate a new tuple that includes only even numbers, name the tuple as n_t
    n_t = tuple(n for n in t if n % 2 == 0)

    # Get the 3rd to 5th items in sorted t, and assign them to s_t
    t2 = sorted(t)
    s_t = (t2[2],) + (t2[4],)
    
    # Repeat s_t five times and assign them to r_t
    r_t = s_t * 5

    # Print t, my_sum, n_t, and s_t
    print(t, my_sum, n_t, s_t)

    # Delete t, my_sum, n_t, s_t, and r_t
    del t, my_sum, n_t, s_t, r_t
    
# Call the function
my_tuple()

1
2
5
8
2
(1, 2, 5, 8, 2) 18 (2, 8, 2) (2, 8)

**Reminder:** Restart and run all cells before submitting to ensure the notebook executes from start to finish without errors and produces the expected outputs.